body {
    background: rgb(59,43,113);
    background: linear-gradient(6deg, rgba(59,43,113,1) 0%, rgba(0,0,0,1) 86%);
    color:  whitesmoke !important;
    font-family: 'Comfortaa', sans-serif;
    display: flex;
    flex-direction: column;

    justify-content: center;
    min-height: 100vh;

}
h1, h2, h3, h4, h5, h6 {
    color: whitesmoke;
}
.container{
    align-self: center;
    justify-content: center;
    flex-direction: column;
    display: flex;
    margin: 20px;
    flex-grow: 1;
    width: 100%;
}
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    color:whitesmoke;
    height: 80px;
}
header img{
    width: 120px;

}
.series{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(140px, 1fr));
    gap:1rem;

}

.serie{
    transition: all .2s ease-in-out;
}
.serie:hover{
 transform: scale(1.1);
}