{% extends 'base.html.twig' %}

{% block title %}Liste des séries - {{ parent() }}{% endblock %}

{% block body %}


    <h1>Liste des Séries </h1>

    <section class="series">
        {% for serie in series %}
            <div class="serie">
                <a href="{{ path('serie_show', {'id':serie.id}) }}" title="nombre de saisons | {{ serie.seasons|length }}">
                <img class="card-img-top" src="{{ asset('img/posters/series/' ~ serie.backdrop) }}"  onerror="this.src='https://placehold.co/342x513'" alt="Card image cap"> </a>

            </div>

        {% endfor %}
    </section>
{% endblock %}
